* {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: "Inter Black";
  src: url(./fonts/Inter-Black.ttf);
}

@font-face {
  font-family: "Inter Bold";
  src: url(./fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url(./fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "Inter Light";
  src: url(./fonts/Inter-Light.ttf);
}

@font-face {
  font-family: "Inter Medium";
  src: url(./fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter Regular";
  src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter SemiBold";
  src: url(./fonts/Inter-SemiBold.ttf);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #fbf8f3;
}
.hamburg {
  display: none;
}
.nav-links ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 80px;
}
.nav-links .nav-link {
  font-family: "Inter Medium";
  margin-right: 10px;
  cursor: pointer;
}
.heade a {
  font-family: "Inter Extra Bold";
  font-size: 2rem;
  cursor: pointer;
}
.nav-link a {
  color: black;
}
.reg {
  display: flex;
}
.reg .sign-in {
  margin-right: 30px;
  padding: 10px;
  cursor: pointer;
}
.reg .sign-in > a {
  font-family: "Inter Extra Bold";
  font-size: 2rem;
}
.reg .sign-up {
  background-color: #4d13d1;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.reg .sign-up > a {
  font-family: "Inter Extra Bold";
  font-size: 2rem;
}

.hero {
  display: flex;
  background-color: #fbf8f3;
  padding-bottom: 80px;
}
.hero-text {
  padding: 40px 20px 80px 40px;
}

.rated {
  margin: 10px;
}
.rated p {
  font-family: "Inter Medium";
  color: black;
}
.hero-text .review {
  display: flex;
  align-items: center;
  padding-top: 90px;
}
.head h1 {
  font-family: "Inter Extra Bold";
  font-size: 4rem;
  color: black;
}
.head .eh {
  display: none;
}
.head .eg {
  display: none;
}

.head p {
  font-family: "Inter Light";
  color: black;
}

.btns {
  display: flex;
  padding-top: 20px;
}

.btns .trial {
  background-color: #4d13d1;
  padding: 20px 25px;
  border-radius: 4px;
  cursor: pointer;
}
.trial a {
  color: white;
  font-family: "Inter Medium";
}

.btns .view {
  padding: 20px 25px;
  border-radius: 4px;
  cursor: pointer;
}
.view a {
  text-decoration: underline;
  font-family: "Inter Medium";
  color: #4d13d1;
}

.hero-text .card {
  display: flex;
  align-items: center;
}
.card {
  padding-top: 25px;
  display: flex;
}

.card .credit {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.credit p {
  font-family: "Inter Light";
  margin-left: 10px;
}

.card .template {
  display: flex;
  align-items: center;
}
.template p {
  font-family: "Inter Light";
  margin-left: 10px;
}

.hero .hero-pic img {
  width: 550px;
}

.why {
  background-color: white;
  padding: 30px 40px;
}
.why-fiber h1 {
  color: #4d13d1;
  font-size: 1.6em;
  font-family: "Inter Black";
  padding-bottom: 30px;
}

.why-fiber p {
  color: black;
  font-family: "Inter Bold";
  font-size: 2rem;
  padding-bottom: 40px;
}
.why-fiber .eh {
  display: none;
}

.why-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.why-card h1 {
  color: black;
  font-family: "Inter Bold";
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.why-card p {
  color: black;
  font-family: "Inter Light";
  font-size: 1.2rem;
}

.diverse {
  background-color: #4d13d1;
  border-radius: 5px;
}
.diverse {
  display: flex;
  width: 100%;
}
.diverse .left-verse {
  width: 45%;
  padding: 150px 20px;
}
.left-verse h1 {
  color: #fbf8f3;
  padding-bottom: 15px;
  font-family: "Inter Extra Bold";
  font-size: 2.5rem;
}
.left-verse p {
  color: #fbf8f3;
  padding-bottom: 15px;
  font-family: "Inter Regular";
  font-size: 1.2rem;
}

.left-verse .start {
  background-color: #fbf8f3;
  display: inline-block;
  padding: 12px 18px;
  color: #4d13d1;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
}
.start a {
  font-family: "Inter Bold";
}

.diverse .right-verse {
  width: 65%;
}
.right-verse .image {
  padding-top: 50px;
  margin-bottom: -4px;
}
.right-verse .image img {
  height: 450px;
  width: 680px;
}
.portfolio-section {
  padding: 30px 40px;
}
.port-cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.port-card {
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
}
.port-card .profile {
  display: flex;
}
.profile {
  padding-bottom: 10px;
}
.profile2 {
  margin-left: 10px;
}
.profile2 h1 {
  color: #4d13d1;
  font-size: 1.5rem;
  font-family: "Inter Bold";
}
.profile2 h2 {
  color: black;
  font-size: 1.1rem;
  font-family: "Inter Bold";
}
.port-card p {
  font-family: "Inter Light";
  padding-bottom: 15px;
}
.port-card .viewport {
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  text-align: center;
}
.viewport a {
  color: #4d13d1;
  font-family: "Inter Bold";
  cursor: pointer;
}

footer {
  background-color: #fbf8f3;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}
.foot1 h1 {
  color: black;
  font-size: 1.6rem;
  font-family: "Inter Bold";
  padding-bottom: 10px;
}
.foot1 p {
  color: black;
  font-size: 1.1rem;
  font-family: "Inter Light";
  padding-bottom: 10px;
}
.footleft {
  margin-left: 50px;
}
.footleft h1 {
  color: black;
  font-size: 1.6rem;
  font-family: "Inter Bold";
  margin-bottom: 7px;
}

.footleft .list {
  display: flex;
  flex-direction: column;
}
.footleft .list a {
  color: black;
  font-size: 1.1rem;
  font-family: "Inter Light";
  margin-bottom: 10px;
}
.foot2 {
  display: flex;
}

@media screen and (max-width: 620px) {
  header .nav-links {
    display: none;
  }
  .reg {
    display: none;
  }
  .hamburg {
    display: unset;
  }
  .nav {
    padding: 40px 50px;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-pic {
    width: auto;
  }
  .hero-pic img {
    width: 100% !important;
  }
  .hero-text .review {
    display: none;
  }
  .head p {
    padding-bottom: 20px;
  }
  .hero-text .btns {
    flex-direction: column;
    margin-top: 10px;
  }

  .btns .trial a {
    text-align: center;
    margin-left: 80px;
  }

  .btns .view a {
    text-align: center;
    margin-left: 80px;
  }
  .head h1 {
    display: none;
  }
  .head .eh {
    display: unset;
  }
  .head p {
    display: none;
  }
  .head .eg {
    display: unset;
    font-size: 1.3rem;
  }

  .hero-text .head p .eg {
    padding-bottom: 10px;
  }
  .hero-text .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card .credit p {
    text-align: center;
  }
  .card .template {
    text-align: center;
    padding-top: 20px;
  }

  .card .template p {
    justify-content: center;
  }

  .right-verse .image img {
    display: none;
  }
  .why-fiber p {
    display: none;
  }
  .why-fiber .eh {
    display: unset;
  }
  .why-cards {
    flex-direction: column;
    padding-top: 30px;
  }
  .why-card {
    padding-bottom: 20px;
  }
  .diverse {
    flex-direction: column;
  }
  .diverse .left-verse {
    padding: 30px 30px;
    width: auto;
  }
  .diverse .right-verse {
    display: none;
  }
  .portfolio-section .port-cards {
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }

  .port-card {
    margin-top: 30px;
  }
  footer {
    flex-direction: column;
  }
  .foot1 p {
    padding-bottom: 12px;
  }
  .foot2 {
    flex-direction: column;
  }
  .footleft {
    margin-left: 0;
  }
  .footleft h1 {
    padding-bottom: 10px;
  }
  .footleft .list a {
    margin-bottom: 15px;
  }
}

/* @media screen and (max-width: 960px){

}
@media screen and (min-width: 1207px){
      
} */
