* {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}

@font-face {
  font-family: "Inter Black";
  src: url(./fonts/Inter-Black.ttf);
}

@font-face {
  font-family: "Inter Bold";
  src: url(./fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url(./fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "Inter Light";
  src: url(./fonts/Inter-Light.ttf);
}

@font-face {
  font-family: "Inter Medium";
  src: url(./fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter Regular";
  src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter SemiBold";
  src: url(./fonts/Inter-SemiBold.ttf);
}

body {
  width: 100%;
  display: flex;
}
body .left {
  width: 50%;
  padding: 50px 70px 0 70px;
}
.nav a {
  font-family: "Inter SemiBold";
  font-size: 1.8rem;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
.nav {
  padding-bottom: 50px;
}
.title h1 {
  font-family: "Inter Bold";
  padding-bottom: 50px;
}
label {
  font-family: "Inter SemiBold";
  font-size: 1.7rem;
}

input[type="text"] {
  padding: 12px 15px;
  width: 373px;
  text-align: end;
}
input[type="password"] {
  text-align: end;

  padding: 12px 15px;
  width: 373px;
}
input[type="checkbox"] {
  cursor: pointer;
}

form i {
  cursor: pointer;
  float: right;
}
.agree {
  display: flex;
  padding-top: 20px;
}
.agree .terms {
  margin-left: 10px;
  font-family: "Inter SemiBold";
  padding-bottom: 30px;
}
.terms a {
  color: #4d13d1;
  font-family: "Inter SemiBold";
}
form button {
  background-color: #4d13d1;
  color: white;
  padding: 10px 120px;
  font-family: "Inter SemiBold";
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

label {
  padding-bottom: 10px;
}
.bott {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 214px;
}
.bott p {
  padding-right: 110px;
  font-family: "Inter SemiBold";
}
.bott a {
  color: #4d13d1;
  margin-left: 7px;
}
body .right {
  width: 50%;
  height: 540px;
  padding: 50px 70px;
  background-color: #4d13d1;
}
.top {
  padding-top: 90px;
  max-width: 380px;
  margin: auto;
}

.top img {
  width: 100%;
}

.bottom {
  text-align: center;
}
.bottom h1 {
  font-family: "Inter SemiBold";
  color: white;
  padding-bottom: 15px;
}

.bottom p {
  font-family: "Inter SemiBold";
  color: white;
}
